<html>
<head>
<title>MyCodeBlog</title>
<!--CSS-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<header>
	<nav class="navbar navbar-light bg-light">
  		<div class="container-fluid">
    		<span class="navbar-brand mb-0 h1">MyCodeBlog</span>
  		</div>
	</nav>
</header>

<section>
<div class="container" style="width: 60% ; padding-bottom: 30px;">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Posts</li>
  		</ol>
			</nav>
				<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
  					<div class="card-body">
  					
   						 This is some text within a card body.
 						 </div>
						</div>
					</div>
				</section>

</body>
</html>