<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>MyCodeBlog</title>
<!--CSS-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<header>
<nav class="navbar navbar-light bg-light">
<div class="container-fluid">
<span class="navbar-brand mb-0 h1">MyCodeBlog</span>
</div>
</nav>
</header>
<section>
<div class="container" style="width: 60% ; padding-bottom: 30px;">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
<li class="breadcrumb-item active" aria-current="page">Novo Post</li>
</ol>
</nav>
<div>
 <form method="post">
 	<div class="form-group">
 		<input type="text" class="form-control" name="titulo" placeholder="Titulo *">
 	</div>
 	<div class="form-group">
 	<input type="text" class="form-control" name="autor" placeholder="Autor *">
 	</div>
 	
 	 <textarea  type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>
 	 
 	 <small class="form-text text-muted">(*) Campos obrigatórios</small>
 	 
 	 <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
 	 <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
 	 <!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
 	 </form>
</div>
</div>
</section>
</body>
</html>